--
-- PostgreSQL database dump
--

\restrict H0j1M5duMklOQiIkKrYH9zgh9xVWSl6UA66b625l0ixaqNMLxusgYVCZ4jf075c

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accommodation; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.accommodation (
    check_in_time time(0) without time zone NOT NULL,
    check_out_time time(0) without time zone NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    accommodation_id bigint NOT NULL,
    category_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    member_id bigint NOT NULL,
    price bigint NOT NULL,
    region_id bigint NOT NULL,
    address character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    status character varying(255),
    description oid NOT NULL,
    CONSTRAINT accommodation_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'RESERVED'::character varying, 'CLOSE'::character varying])::text[])))
);


ALTER TABLE public.accommodation OWNER TO "user";

--
-- Name: accommodation_accommodation_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.accommodation ALTER COLUMN accommodation_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accommodation_accommodation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accommodation_facility; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.accommodation_facility (
    bathrooms integer,
    bedrooms integer,
    beds integer,
    has_bbq boolean,
    has_wifi boolean,
    parking_available boolean,
    pet_allowed boolean,
    accommodation_id bigint NOT NULL
);


ALTER TABLE public.accommodation_facility OWNER TO "user";

--
-- Name: accommodation_image; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.accommodation_image (
    sort_order integer NOT NULL,
    accommodation_id bigint NOT NULL,
    image_id bigint NOT NULL,
    image_url character varying(255) NOT NULL
);


ALTER TABLE public.accommodation_image OWNER TO "user";

--
-- Name: accommodation_image_image_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.accommodation_image ALTER COLUMN image_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accommodation_image_image_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accommodation_policy; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.accommodation_policy (
    accommodation_id bigint NOT NULL,
    policy_id bigint NOT NULL,
    policies text
);


ALTER TABLE public.accommodation_policy OWNER TO "user";

--
-- Name: accommodation_policy_policy_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.accommodation_policy ALTER COLUMN policy_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accommodation_policy_policy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: category; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.category (
    category_id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.category OWNER TO "user";

--
-- Name: category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.category ALTER COLUMN category_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.category_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_message; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.chat_message (
    message_id bigint NOT NULL,
    content text,
    created_at timestamp(6) without time zone NOT NULL,
    image_url character varying(500),
    is_read boolean NOT NULL,
    message_type character varying(20) NOT NULL,
    chat_room_id bigint NOT NULL,
    sender_id bigint NOT NULL,
    CONSTRAINT chat_message_message_type_check CHECK (((message_type)::text = ANY ((ARRAY['TEXT'::character varying, 'IMAGE'::character varying, 'SYSTEM'::character varying])::text[])))
);


ALTER TABLE public.chat_message OWNER TO "user";

--
-- Name: chat_message_message_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.chat_message_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_message_message_id_seq OWNER TO "user";

--
-- Name: chat_message_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.chat_message_message_id_seq OWNED BY public.chat_message.message_id;


--
-- Name: chat_room; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.chat_room (
    chat_room_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    guest_member_id bigint NOT NULL,
    host_member_id bigint NOT NULL,
    reservation_id bigint NOT NULL
);


ALTER TABLE public.chat_room OWNER TO "user";

--
-- Name: chat_room_chat_room_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.chat_room_chat_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_room_chat_room_id_seq OWNER TO "user";

--
-- Name: chat_room_chat_room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.chat_room_chat_room_id_seq OWNED BY public.chat_room.chat_room_id;


--
-- Name: member; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.member (
    created_at timestamp(6) without time zone,
    member_id bigint NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password character varying(255),
    phone character varying(255),
    provider character varying(255) NOT NULL,
    provider_id character varying(255),
    role character varying(255),
    status character varying(255),
    CONSTRAINT member_provider_check CHECK (((provider)::text = ANY ((ARRAY['LOCAL'::character varying, 'GOOGLE'::character varying, 'KAKAO'::character varying])::text[]))),
    CONSTRAINT member_role_check CHECK (((role)::text = ANY ((ARRAY['USER'::character varying, 'HOST'::character varying, 'ADMIN'::character varying])::text[]))),
    CONSTRAINT member_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'SUSPENDED'::character varying, 'DELETED'::character varying])::text[])))
);


ALTER TABLE public.member OWNER TO "user";

--
-- Name: member_member_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.member ALTER COLUMN member_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.member_member_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: member_point_history; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.member_point_history (
    amount bigint NOT NULL,
    created_at timestamp(6) without time zone,
    member_id bigint NOT NULL,
    point_history_id bigint NOT NULL,
    description character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    CONSTRAINT member_point_history_description_check CHECK (((description)::text = ANY ((ARRAY['CHECK_IN'::character varying, 'REVIEW'::character varying])::text[]))),
    CONSTRAINT member_point_history_type_check CHECK (((type)::text = ANY ((ARRAY['EARN'::character varying, 'USE'::character varying])::text[])))
);


ALTER TABLE public.member_point_history OWNER TO "user";

--
-- Name: member_point_history_point_history_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.member_point_history ALTER COLUMN point_history_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.member_point_history_point_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payment; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.payment (
    amount bigint NOT NULL,
    paid_at timestamp(6) without time zone,
    payment_id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    payment_method character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT payment_payment_method_check CHECK (((payment_method)::text = ANY ((ARRAY['CARD'::character varying, 'ACCOUNT_TRANSFER'::character varying, 'KAKAO_PAY'::character varying])::text[]))),
    CONSTRAINT payment_status_check CHECK (((status)::text = ANY ((ARRAY['READY'::character varying, 'PAID'::character varying, 'FAILED'::character varying, 'REFUNDED'::character varying])::text[])))
);


ALTER TABLE public.payment OWNER TO "user";

--
-- Name: payment_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.payment ALTER COLUMN payment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payment_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: region; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.region (
    depth integer,
    parent_id bigint,
    region_id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.region OWNER TO "user";

--
-- Name: region_region_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.region ALTER COLUMN region_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.region_region_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservation; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.reservation (
    check_in_date date NOT NULL,
    check_out_date date NOT NULL,
    personnel integer NOT NULL,
    accommodation_id bigint NOT NULL,
    member_id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    reserved_at timestamp(6) without time zone,
    total_price bigint NOT NULL,
    status character varying(255),
    CONSTRAINT reservation_status_check CHECK (((status)::text = ANY ((ARRAY['RESERVED'::character varying, 'CANCELLED'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.reservation OWNER TO "user";

--
-- Name: reservation_reservation_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.reservation ALTER COLUMN reservation_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reservation_reservation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: review; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.review (
    rating integer NOT NULL,
    created_at timestamp(6) without time zone,
    member_id bigint NOT NULL,
    reservation_id bigint NOT NULL,
    review_id bigint NOT NULL,
    content oid NOT NULL
);


ALTER TABLE public.review OWNER TO "user";

--
-- Name: review_image; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.review_image (
    image_id bigint NOT NULL,
    review_id bigint NOT NULL,
    image_url character varying(255) NOT NULL
);


ALTER TABLE public.review_image OWNER TO "user";

--
-- Name: review_image_image_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.review_image ALTER COLUMN image_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.review_image_image_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: review_review_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.review ALTER COLUMN review_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.review_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: test_entity; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.test_entity (
    id bigint NOT NULL,
    name character varying(255)
);


ALTER TABLE public.test_entity OWNER TO "user";

--
-- Name: test_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.test_entity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.test_entity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wishlist; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.wishlist (
    accommodation_id bigint NOT NULL,
    list_id bigint NOT NULL,
    member_id bigint NOT NULL
);


ALTER TABLE public.wishlist OWNER TO "user";

--
-- Name: wishlist_list_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.wishlist ALTER COLUMN list_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wishlist_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_message message_id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_message ALTER COLUMN message_id SET DEFAULT nextval('public.chat_message_message_id_seq'::regclass);


--
-- Name: chat_room chat_room_id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_room ALTER COLUMN chat_room_id SET DEFAULT nextval('public.chat_room_chat_room_id_seq'::regclass);


--
-- Name: 16554; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('16554');


ALTER LARGE OBJECT 16554 OWNER TO "user";

--
-- Name: 24868; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('24868');


ALTER LARGE OBJECT 24868 OWNER TO "user";

--
-- Name: 24869; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('24869');


ALTER LARGE OBJECT 24869 OWNER TO "user";

--
-- Name: 24870; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('24870');


ALTER LARGE OBJECT 24870 OWNER TO "user";

--
-- Name: 24871; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('24871');


ALTER LARGE OBJECT 24871 OWNER TO "user";

--
-- Name: 24872; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('24872');


ALTER LARGE OBJECT 24872 OWNER TO "user";

--
-- Name: 25475; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25475');


ALTER LARGE OBJECT 25475 OWNER TO "user";

--
-- Name: 25701; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25701');


ALTER LARGE OBJECT 25701 OWNER TO "user";

--
-- Name: 25702; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25702');


ALTER LARGE OBJECT 25702 OWNER TO "user";

--
-- Name: 25703; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25703');


ALTER LARGE OBJECT 25703 OWNER TO "user";

--
-- Name: 25704; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25704');


ALTER LARGE OBJECT 25704 OWNER TO "user";

--
-- Name: 25705; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25705');


ALTER LARGE OBJECT 25705 OWNER TO "user";

--
-- Name: 25706; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25706');


ALTER LARGE OBJECT 25706 OWNER TO "user";

--
-- Name: 25707; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25707');


ALTER LARGE OBJECT 25707 OWNER TO "user";

--
-- Name: 25708; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25708');


ALTER LARGE OBJECT 25708 OWNER TO "user";

--
-- Name: 25709; Type: BLOB; Schema: -; Owner: user
--

SELECT pg_catalog.lo_create('25709');


ALTER LARGE OBJECT 25709 OWNER TO "user";

--
-- Data for Name: accommodation; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: accommodation_facility; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.accommodation_facility (bathrooms, bedrooms, beds, has_bbq, has_wifi, parking_available, pet_allowed, accommodation_id) FROM stdin;
1	1	1	f	t	t	f	1
2	3	3	f	f	t	t	4
2	2	2	t	t	t	t	5
3	3	3	t	t	t	t	6
2	2	2	t	f	f	t	7
1	1	1	t	f	f	t	8
1	1	1	f	f	t	f	9
1	1	1	f	t	f	f	10
5	5	6	f	f	f	f	11
1	1	1	f	f	f	f	12
\.


--
-- Data for Name: accommodation_image; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: accommodation_policy; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.category (category_id, name) FROM stdin;
1	?명뀛/紐⑦뀛
2	?쒖뀡/?鍮뚮씪
3	寃뚯뒪?명븯?곗뒪/?몄뒪??4	?쒖삦/?꾪넻媛??5	罹좏븨/湲?⑦븨
6	?꾪뙆???ㅽ뵾?ㅽ뀛
7	?낆콈/?꾩썝二쇳깮
\.


--
-- Data for Name: chat_message; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: chat_room; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.chat_room (chat_room_id, created_at, updated_at, guest_member_id, host_member_id, reservation_id) FROM stdin;
1	2026-02-13 15:32:06.274025	2026-03-09 19:25:30.447136	2	1	8
2	2026-03-09 19:41:53.791734	2026-03-10 19:32:35.475594	2	1	15
\.


--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: member_point_history; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.member_point_history (amount, created_at, member_id, point_history_id, description, type) FROM stdin;
\.


--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.payment (amount, paid_at, payment_id, reservation_id, payment_method, status) FROM stdin;
\.


--
-- Data for Name: region; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.review (rating, created_at, member_id, reservation_id, review_id, content) FROM stdin;
\.


--
-- Data for Name: review_image; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.review_image (image_id, review_id, image_url) FROM stdin;
\.


--
-- Data for Name: test_entity; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.test_entity (id, name) FROM stdin;
\.


--
-- Data for Name: wishlist; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.wishlist (accommodation_id, list_id, member_id) FROM stdin;
10	4	2
\.


--
-- Name: accommodation_accommodation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.accommodation_accommodation_id_seq', 12, true);


--
-- Name: accommodation_image_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.accommodation_image_image_id_seq', 12, true);


--
-- Name: accommodation_policy_policy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.accommodation_policy_policy_id_seq', 10, true);


--
-- Name: category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.category_category_id_seq', 7, true);


--
-- Name: chat_message_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.chat_message_message_id_seq', 9, true);


--
-- Name: chat_room_chat_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.chat_room_chat_room_id_seq', 2, true);


--
-- Name: member_member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.member_member_id_seq', 4, true);


--
-- Name: member_point_history_point_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.member_point_history_point_history_id_seq', 1, false);


--
-- Name: payment_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.payment_payment_id_seq', 1, false);


--
-- Name: region_region_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.region_region_id_seq', 245, true);


--
-- Name: reservation_reservation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.reservation_reservation_id_seq', 15, true);


--
-- Name: review_image_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.review_image_image_id_seq', 1, false);


--
-- Name: review_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.review_review_id_seq', 1, false);


--
-- Name: test_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.test_entity_id_seq', 1, false);


--
-- Name: wishlist_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.wishlist_list_id_seq', 4, true);


--
-- Data for Name: BLOBS; Type: BLOBS; Schema: -; Owner: -
--

BEGIN;

SELECT pg_catalog.lo_open('16554', 131072);
SELECT pg_catalog.lowrite(0, '\xeb8c80ebb09520eca28bec9d8c');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('24868', 131072);
SELECT pg_catalog.lowrite(0, '\xebb094eb8ba4eab08020ebb3b4ec9db4eb8a9420eba98beca78420ed98b8ed8594ec9e85eb8b88eb8ba42e');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('24869', 131072);
SELECT pg_catalog.lowrite(0, '\xeab095eb82a8ec97ad20ec9db8eab7bc20ecb69cec9ea5ec979020ecb59ceca081ed9994eb909c20ebb984eca688eb8b88ec8aa420ed98b8ed8594ec9e85eb8b88eb8ba42e20ed9a8cec9d98ec8ba4eab3bc20ebb984eca688eb8b88ec8aa420ec84bced84b0eba5bc20eab096ecb694eab3a020ec9e88ec8ab5eb8b88eb8ba42e');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('24870', 131072);
SELECT pg_catalog.lowrite(0, '\xeca09ceca3bc20eab090eab7a4ebb0adec9db420ebb3b4ec9db4eb8a9420ec9584eb8a91ed959c20ed8e9cec8598ec9e85eb8b88eb8ba42e20eab080eca1b120eb8ba8ec9c8420ec97aced9689eab09dec9790eab28c20eca081ed95a9ed95a9eb8b88eb8ba42e');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('24871', 131072);
SELECT pg_catalog.lowrite(0, '\xed998deb8c80ec9e85eab5acec97ad20eb8f84ebb3b42035ebb68420eab1b0eba6acec9d9820eab080ec84b1ebb98420eab28cec8aa4ed8ab8ed9598ec9ab0ec8aa4ec9e85eb8b88eb8ba42e20ebb0b0eb82adec97aced9689eab09deab3bc20eab09cec9db820ec97aced9689ec9e90ec9790eab28c20ec9db8eab8b021');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('24872', 131072);
SELECT pg_catalog.lowrite(0, '\xeca084ed86b520ed959cec98a5ec9790ec849c20eca690eab8b0eb8a9420ed8ab9ebb384ed959c20ed9598eba3bbebb0a42e20ebb688eab5adec82acec998020ec849deab5b4ec9594ec9db420ec9db8eab7bcec979020ec9e88ec8ab5eb8b88eb8ba42e20ed959cebb3b520ecb2b4ed979820eca09ceab3b521');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25475', 131072);
SELECT pg_catalog.lowrite(0, '\xeab095eb82a8ec97adec9790ec849c20eb8f84ebb3b42035ebb68420eab1b0eba6acec979020ec9c84ecb998ed959c20eab994eb8194ed9598eab3a020ec9584eb8a91ed959c20ec98a4ed94bcec8aa4ed8594ec9e85eb8b88eb8ba42e');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25701', 131072);
SELECT pg_catalog.lowrite(0, '\xec9db4eab1b020eb9098eb8a94eab1b020eba79eeb8390eab3a0ec9a94');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25702', 131072);
SELECT pg_catalog.lowrite(0, '\xed998deb8c80ec979020ec9c84ecb998ed959c20ec8c88ebbd95ed959c20ed98b8ed8594ec9e85eb8b88eb8ba42e0aeba78eec9db4eb93a420eca690eab2a8eca3bcec84b8ec9a9420e3858e');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25703', 131072);
SELECT pg_catalog.lowrite(0, '\xec9db4ebafb8eca78020eb93b1eba19deab98ceca78020eab5aced9884ed959c20ec8899ec868ceb93b1eba19d20eb8f84eca084');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25704', 131072);
SELECT pg_catalog.lowrite(0, '\xec9888ec95bd20444220eca080ec9ea520ed858cec8aa4ed8ab8ec9aa9ec9cbceba19c20eba78ceb93a4ec9788ec9d8c');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25705', 131072);
SELECT pg_catalog.lowrite(0, '\xed858cec8aa4ed8ab820ec8899ec868cec9e85eb8b88eb8ba4');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25706', 131072);
SELECT pg_catalog.lowrite(0, '\xed858cec8aa4ed8ab820ec8899ec868cec9e85eb8b88eb8ba4');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25707', 131072);
SELECT pg_catalog.lowrite(0, '\xed858cec8aa4ed8ab820ec8899ec868cec9e85eb8b88');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25708', 131072);
SELECT pg_catalog.lowrite(0, '\xed858cec8aa4ed8ab820ec8899ec868cec9e85eb8b88');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('25709', 131072);
SELECT pg_catalog.lowrite(0, '\xed858cec8aa4ed8ab8');
SELECT pg_catalog.lo_close(0);

COMMIT;

--
-- Name: accommodation_facility accommodation_facility_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_facility
    ADD CONSTRAINT accommodation_facility_pkey PRIMARY KEY (accommodation_id);


--
-- Name: accommodation_image accommodation_image_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_image
    ADD CONSTRAINT accommodation_image_pkey PRIMARY KEY (image_id);


--
-- Name: accommodation accommodation_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation
    ADD CONSTRAINT accommodation_pkey PRIMARY KEY (accommodation_id);


--
-- Name: accommodation_policy accommodation_policy_accommodation_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_policy
    ADD CONSTRAINT accommodation_policy_accommodation_id_key UNIQUE (accommodation_id);


--
-- Name: accommodation_policy accommodation_policy_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_policy
    ADD CONSTRAINT accommodation_policy_pkey PRIMARY KEY (policy_id);


--
-- Name: category category_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_name_key UNIQUE (name);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (category_id);


--
-- Name: chat_message chat_message_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT chat_message_pkey PRIMARY KEY (message_id);


--
-- Name: chat_room chat_room_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_room
    ADD CONSTRAINT chat_room_pkey PRIMARY KEY (chat_room_id);


--
-- Name: member member_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_email_key UNIQUE (email);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (member_id);


--
-- Name: member_point_history member_point_history_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.member_point_history
    ADD CONSTRAINT member_point_history_pkey PRIMARY KEY (point_history_id);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (payment_id);


--
-- Name: payment payment_reservation_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_reservation_id_key UNIQUE (reservation_id);


--
-- Name: region region_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT region_pkey PRIMARY KEY (region_id);


--
-- Name: reservation reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT reservation_pkey PRIMARY KEY (reservation_id);


--
-- Name: review_image review_image_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.review_image
    ADD CONSTRAINT review_image_pkey PRIMARY KEY (image_id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (review_id);


--
-- Name: test_entity test_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.test_entity
    ADD CONSTRAINT test_entity_pkey PRIMARY KEY (id);


--
-- Name: chat_room uk_c3y125aerdgg87g8r1xqvc1le; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_room
    ADD CONSTRAINT uk_c3y125aerdgg87g8r1xqvc1le UNIQUE (reservation_id);


--
-- Name: wishlist ukm1e6k7fra6osll0n3sfugijy3; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlist
    ADD CONSTRAINT ukm1e6k7fra6osll0n3sfugijy3 UNIQUE (member_id, accommodation_id);


--
-- Name: wishlist wishlist_member_id_accommodation_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlist
    ADD CONSTRAINT wishlist_member_id_accommodation_id_key UNIQUE (member_id, accommodation_id);


--
-- Name: wishlist wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlist
    ADD CONSTRAINT wishlist_pkey PRIMARY KEY (list_id);


--
-- Name: idx_chat_room_created; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_chat_room_created ON public.chat_message USING btree (chat_room_id, created_at);


--
-- Name: idx_sender_created; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_sender_created ON public.chat_message USING btree (sender_id, created_at);


--
-- Name: review_image fk16wp089tx9nm0obc217gvdd6l; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.review_image
    ADD CONSTRAINT fk16wp089tx9nm0obc217gvdd6l FOREIGN KEY (review_id) REFERENCES public.review(review_id);


--
-- Name: chat_room fk1d526v2388adqgt08raungki2; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_room
    ADD CONSTRAINT fk1d526v2388adqgt08raungki2 FOREIGN KEY (host_member_id) REFERENCES public.member(member_id);


--
-- Name: accommodation fk4j0s1w836kagkwpkt2e9ok8yi; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation
    ADD CONSTRAINT fk4j0s1w836kagkwpkt2e9ok8yi FOREIGN KEY (category_id) REFERENCES public.category(category_id);


--
-- Name: region fk5cgfpq4u2digwkllynq14k7te; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT fk5cgfpq4u2digwkllynq14k7te FOREIGN KEY (parent_id) REFERENCES public.region(region_id);


--
-- Name: reservation fk68999qe28ym9eqqlowybh9nvn; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk68999qe28ym9eqqlowybh9nvn FOREIGN KEY (member_id) REFERENCES public.member(member_id);


--
-- Name: review fk7tyi0jd0eaphyr0gsvfjqww9i; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk7tyi0jd0eaphyr0gsvfjqww9i FOREIGN KEY (reservation_id) REFERENCES public.reservation(reservation_id);


--
-- Name: member_point_history fk8eqfd05hgugx24t8ulcqnb3u1; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.member_point_history
    ADD CONSTRAINT fk8eqfd05hgugx24t8ulcqnb3u1 FOREIGN KEY (member_id) REFERENCES public.member(member_id);


--
-- Name: wishlist fk95niyld8dn9215fm9vrpjrx6j; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlist
    ADD CONSTRAINT fk95niyld8dn9215fm9vrpjrx6j FOREIGN KEY (accommodation_id) REFERENCES public.accommodation(accommodation_id);


--
-- Name: accommodation_image fkahuyrw7kh4txdkpxwh4eqpgsv; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_image
    ADD CONSTRAINT fkahuyrw7kh4txdkpxwh4eqpgsv FOREIGN KEY (accommodation_id) REFERENCES public.accommodation(accommodation_id);


--
-- Name: accommodation fkbdpt8s5jh88l9jj86uuc9limo; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation
    ADD CONSTRAINT fkbdpt8s5jh88l9jj86uuc9limo FOREIGN KEY (region_id) REFERENCES public.region(region_id);


--
-- Name: chat_message fkboji3uvm7ajilw93odmaau88q; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT fkboji3uvm7ajilw93odmaau88q FOREIGN KEY (sender_id) REFERENCES public.member(member_id);


--
-- Name: accommodation fkcuegd0ulld57ijnms8yymxffq; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation
    ADD CONSTRAINT fkcuegd0ulld57ijnms8yymxffq FOREIGN KEY (member_id) REFERENCES public.member(member_id);


--
-- Name: accommodation_facility fkdtjdb4ev9ey6ftugtjd64ssvc; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_facility
    ADD CONSTRAINT fkdtjdb4ev9ey6ftugtjd64ssvc FOREIGN KEY (accommodation_id) REFERENCES public.accommodation(accommodation_id);


--
-- Name: chat_room fkg2bmslvk6k7yvtdxw4td3ydf8; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_room
    ADD CONSTRAINT fkg2bmslvk6k7yvtdxw4td3ydf8 FOREIGN KEY (reservation_id) REFERENCES public.reservation(reservation_id);


--
-- Name: chat_message fkj52yap2xrm9u0721dct0tjor9; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT fkj52yap2xrm9u0721dct0tjor9 FOREIGN KEY (chat_room_id) REFERENCES public.chat_room(chat_room_id);


--
-- Name: accommodation_policy fkjiyxqgwkes49kgxc5e6lvwfnp; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.accommodation_policy
    ADD CONSTRAINT fkjiyxqgwkes49kgxc5e6lvwfnp FOREIGN KEY (accommodation_id) REFERENCES public.accommodation(accommodation_id);


--
-- Name: review fkk0ccx5i4ci2wd70vegug074w1; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fkk0ccx5i4ci2wd70vegug074w1 FOREIGN KEY (member_id) REFERENCES public.member(member_id);


--
-- Name: reservation fkoa1arn2i6kipar0jakkwtsjip; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fkoa1arn2i6kipar0jakkwtsjip FOREIGN KEY (accommodation_id) REFERENCES public.accommodation(accommodation_id);


--
-- Name: wishlist fkr9m487rorwstnl1r1ib9r5pds; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.wishlist
    ADD CONSTRAINT fkr9m487rorwstnl1r1ib9r5pds FOREIGN KEY (member_id) REFERENCES public.member(member_id);


--
-- Name: payment fkrewpj5f9v9xehy4ga8g221nw1; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fkrewpj5f9v9xehy4ga8g221nw1 FOREIGN KEY (reservation_id) REFERENCES public.reservation(reservation_id);


--
-- Name: chat_room fksd92t5peid8b84o3j0nlbfq1p; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_room
    ADD CONSTRAINT fksd92t5peid8b84o3j0nlbfq1p FOREIGN KEY (guest_member_id) REFERENCES public.member(member_id);


--
-- PostgreSQL database dump complete
--

\unrestrict H0j1M5duMklOQiIkKrYH9zgh9xVWSl6UA66b625l0ixaqNMLxusgYVCZ4jf075c

